In [1]:
import os

In [2]:
os.remove("jogodia20.db") if os.path.exists("jogodia20.db") else None

In [3]:
import sqlite3

In [8]:
con = sqlite3.connect("C:jogodia20")

In [9]:
type (con)

sqlite3.Connection

In [10]:
cur = con.cursor()

In [11]:
type(cur)

sqlite3.Cursor

In [12]:
sql_create = 'create table deve'\
'(nome varchar(100), '\
'veio varchar(10), '\
'bebeu varchar(11), '\
'comeu varchar(12), '\
'valor integer)'

In [13]:
cur.execute(sql_create)

In [14]:
sql_insert = 'insert into deve values (?, ?, ?, ?, ?)'

In [15]:
recset = [('Gomes', 'SIM', 'SIM', 'SIM', 30), 
         ('Marcelo', 'SIM', 'SIM', 'SIM', 30),
         ('Ricardo', 'SIM', 'SIM', 'SIM', 30),
         ('Torugo', 'SIM', 'NAO', 'SIM', 10),
         ('Vinicius', 'SIM', 'SIM', 'SIM', 30),
         ('Josue', 'SIM', 'NAO', 'SIM', 10)]

In [16]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [17]:
con.commit()

In [18]:
sql_select = 'select * from deve'

In [19]:
cur.execute(sql_select)
dados = cur.fetchall()

In [20]:
for linha in dados:
    print('Nome: %s, Veio: %s, Bebeu: %s, Comeu: %s, Pagar: %d \n' % linha)

Nome: Gomes, Veio: SIM, Bebeu: SIM, Comeu: SIM, Pagar: 30

Nome: Marcelo, Veio: SIM, Bebeu: SIM, Comeu: SIM, Pagar: 30

Nome: Ricardo, Veio: SIM, Bebeu: SIM, Comeu: SIM, Pagar: 30

Nome: Torugo, Veio: SIM, Bebeu: NAO, Comeu: SIM, Pagar: 10

Nome: Vinicius, Veio: SIM, Bebeu: SIM, Comeu: SIM, Pagar: 30

Nome: Josue, Veio: SIM, Bebeu: NAO, Comeu: SIM, Pagar: 10

In [21]:
con.commit()

In [22]:
con.close()